%title-20 {
  font-size: 2rem;
}

%title-200 {
  font-family: $font-bigilla;
  font-weight: bold;
  font-size: 20rem;

  @include media("<=tablet") {
    font-size: 10rem;
  }

  @include media("<phone") {
    font-size: 4rem;
  }
}

%title-300 {
  font-family: $font-bigilla;
  font-weight: bold;
  font-size: 30rem;

  @include media("<=tablet") {
    font-size: 14rem;
  }

  @include media("<phone") {
    font-size: 7rem;
  }
}

%title-370 {
  font-family: $font-bigilla;
  font-weight: bold;
  font-size: 37rem;

  @include media("<=tablet") {
    font-size: 14rem;
  }

  @include media("<phone") {
    font-size: 7rem;
  }
}
